.alert {
  width: 300px;
  height: max-content;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  background-color: #f13b3b;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.contacts_form {
  width: 300px;
  height: max-content;
  border: none;
  border-radius: 3px;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

.input_name {
  font-weight: 700;
}

.input_form,
.submitBtn {
  width: 260px;
  height: 30px;
  border-radius: 5px;
}

.input_form {
  border: 1px solid #808080;
  margin: 10px 0 30px;
  padding: 10px;
}

.submitBtn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #016f91;
}

.alert-enter {
  opacity: 0;
  transform: translateX(100%);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms ease-in;
}

.alert-exit {
  opacity: 1;
  transform: translateX(0);
}

.alert-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 250ms ease-in;
}
