.filter_box {
  width: 300px;
  height: max-content;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 7px -1px rgba(158, 158, 158, 0.71);
  padding: 20px;
  margin-bottom: 20px;
}

.input_label {
  font-weight: 700;
}

.filter_form {
  width: 260px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #808080;
  padding: 10px;
  margin: 10px 0;
}
