.header {
  padding-bottom: 30px;
}

.navigation-link {
  display: block;
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

.navigation-link-active {
  color: #e6fd11;
}

.app_header {
  background-color: #016f91;
}
