.login_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.login_form input {
  display: block;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 10px;
}

.login_form button {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}
